@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@500&display=swap');
.landingPage{
  padding: 0 50px;
  width: 100%;
  overflow: hidden;
  .landing-page-promo{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    letter-spacing: 2px;
    p{
      font-size: 2rem;
    }
  }
}
