
.UserSignup{
  .ant-form-item{
    margin-bottom: 5px;
  }

  .user-signup-policy-agreement{

    font-size: 0.7rem;
    font-weight: 650;
    text-align: center;
    padding:20px 20px 0 20px;
    color:grey;
  }
  .user-signup-submit-button-wrapper{

  }
  .user-signup-submit-button{
    width: 100%;
    margin: auto;
    border-radius: 5px;
    text-align: center;

  }

}
